<div class="student-container">
    <h1 style="text-align: center;">Student Management System</h1>
    <div class="container mx-auto p-4">
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="fullName">
              Nom Complet
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fullName" type="text" placeholder="Nom Complet" formControlName="fullName">
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="classe">
              Classe
            </label>
            <select id="classe" formControlName="classe">
              <option *ngFor="let classe of classes" [value]="classe._id">{{ classe.niveau }} - {{ classe.serie }}</option>
            </select>
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              {{ currentStudent ? 'Modifier' : 'Ajouter' }}
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="studentForm.reset(); currentStudent = null">
              Annuler
            </button>
          </div>
        </form>
        <div class="mt-4">
          <table class="table-auto w-full">
            <thead>
              <tr>
                <th class="px-4 py-2 text-center">Nom Complet</th>
                <th class="px-4 py-2 text-center">Classe</th>
                <th class="px-4 py-2 text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of students">
                <td class="border px-4 py-2 text-center">{{ student.fullName }}</td>
                <td class="border px-4 py-2 text-center">{{ student.classe }}</td>
                <td class="border px-4 py-2 text-center">
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" (click)="onEdit(student)">Modifier</button>
                  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" (click)="onDelete(student)">Supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
